.App {
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
}

.flex > div, .flex > p {
  padding-left: 1em;
}

.loading {
  /* this is a class for a div */
  /* in this class, there should be a spinner in front of the div, with the div greyed out */
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  cursor: pointer;

  /* hover color */
  &:hover {
    opacity: 0.5;
  }
}

.error-cell {
  /* striped red background */
  background: repeating-linear-gradient(
    45deg,
    red,
    red 10px,
    maroon 10px,
    maroon 20px
  );
}

pre {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre-wrap;
}

.focus {
  /* make this stand out */
  background-color: #99edc3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  /* transition: .4s; */
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  /* transition: .4s; */
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select, input {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
}

select {
  cursor: pointer;
}